<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.web.tx.TxMapper">
	<select id="countCenter" resultType="string">
		SELECT COUNT(*)
		FROM CENTER
	</select>
	
	<select id="info" parameterType="Proxy" resultType="map">
		SELECT * FROM CENTER
		ORDER BY CSEQ LIMIT #{startRow}, #{pageSize}
	</select>
</mapper>